Cortex-Forth/Cortex-Forth.ino_*
Cortex-Forth/src/SdF*
Cortex-Forth/src/_f*
Cortex-Forth/src/br*
Cortex-Forth/src/*_
Cortex-Forth/src/flash_ops.cpp_*
Cortex-Forth/src/fload.cpp_*
Cortex-Forth/src/fload.cpp_*
Cortex-Forth/src/pr*
Cortex-Forth/src/rab*
Cortex-Forth/xda*
t.*
