*.ino_*
src/SdF*
src/_f*
src/br*
src/*_
src/flash_ops.cpp_*
src/fload.cpp_*
src/fload.cpp_*
src/pr*
src/rab*
xda*
t.*
doc/
_he*
Cortex-Forth.ino--y*
branch.fa*
compos*
fix*
nabb*
oop*
pedi*
this*
ALL_si*
_recent_st*
